[Unit]
Description=ImmoBit
After=his.service
Requires=his.service

[Service]
User=immobit
Group=immobit
ExecStart=/usr/local/bin/immobitd

[Install]
WantedBy=multi-user.target
