[Unit]
Description=ImmoBit
Requires=his.service

[Service]
User=immobit
Group=immobit
ExecStart=/usr/local/bin/immobitd

[Install]
WantedBy=wsgi-services.target
