[Unit]
Description=ImmoBit
PartOf=wsgi-services.target

[Service]
User=immobit
Group=immobit
ExecStart=/usr/local/bin/immobitd

[Install]
WantedBy=wsgi-services.target
